############################
# Java
############################

*.class
*.log
*.ctxt

hs_err_pid*
replay_pid*

############################
# Maven
############################

target/

############################
# IntelliJ IDEA
############################

.idea/
*.iml

############################
# VS Code
############################

.vscode/

############################
# Eclipse
############################

.project
.classpath
.settings/

############################
# NetBeans
############################

nbproject/

############################
# Build Artifacts
############################

*.jar
*.war
*.nar
*.ear

############################
# Operating System Files
############################

.DS_Store
Thumbs.db

############################
# Spring Boot
############################

spring.log

############################
# Environment Files
############################

.env
.env.*

############################
# Local Configurations
############################

application-local.yml
application-local.yaml
application-local.properties

############################
# Test & Coverage
############################

surefire-reports/
failsafe-reports/

jacoco.exec
site/jacoco/

############################
# Docker
############################

docker-data/
volumes/

############################
# Security
############################

*.pem
*.key
*.p12
*.jks
*.keystore